<!DOCTYPE html>
<html>
	<head>
		<title>InterLink inCamp TODO List</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<header>
			<h1>TODO List</h1>
		</header>
		<main>
			<form id="responseForm">
				<input type="text" name="taskName" placeholder="New task">
				<button name="add">Add</button>
			</form>
			<form id="deleteForm">
				<input type="text" name="taskId" placeholder="Id for delete" id="taskId">
				<button name="delete">Delete</button>
			</form>
			<ol id="taskList"></ol>
		</main>
	</body>
	<script src="form.js"></script>
</html>
