body {
	margin: 0;
	background-color: white;
}

header h1 {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}

main {
	display: flex;
	flex-flow: column;
	padding: 0 40%;
}
section {
	display: flex;
	flex-flow: column;
}

ol {
	list-style-type: none;
	padding: 0;
}

input:checked + span{
	text-decoration: line-through;
}

li:hover {
	background-color: black;
	color: #ffffff;
}

#display {
	min-width: 200px;
	min-height: 200px;
	background-color: rgb(206, 255, 72);
	display: flex;
	flex-flow: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 100px;
	top: 100px;
	font-size: 100px;
}